.section {
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    &.first {
        background-image: url('../images/background1.jpg');
    }

    &.second {
        background-image: url('../images/background2.jpg');
    }

    &.third {
        background-image: url('../images/background3.jpg');
    }
}

.content {
    width: 45em;
    max-width: 100%;
}

.c-arrow {
    &__anchor {
        width: 22px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        @include translate3D(0, -50%, 0);
    }
}

.c-getstarted {
    position: relative;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    &__spotify-logo {
        width: 50%;
        margin: 6.25px 0;
        max-width: 160px;
    }

    &__soundclash-logo {
        width: 100%;
        max-width: 403px;
        margin: 12.5px 0;
    }

    &__punchline {
        font-family: 'ProximaNova-Bold';
        color: $white;
        font-size: 18px;
    }

    &__copy {
        width: 100%;
        font-family: 'ProximaNova-Regular';
        color: $white;
        font-size: 18px;
        margin-top: 10px;
    }

    &__maple {
        @include flexbox();
        @include align-items(center);
        margin: 12.5px 0 25px 0;
        img {
            max-width: 34px;
            padding: 0 12.5px;
        }
    }

    &__divider {
        width: 30px;
        border-top: 1px solid $white;
    }

    &__group-buttons {
        margin: 12.5px 0;
        @include flexbox();
        @include align-items(center);
        button {
            margin: 25px 12.5px;
            font-family: 'ProximaNova-Semibold';
            font-size: 16px;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            padding: 12.5px 26px;
            border: 2px solid $white;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            @include transition(background-color 300ms ease-out, color 300ms ease-out);
            &:hover {
                background-color: white;
                color: $likeBlack;
            }
        }
    }


}