$white: #FFFFFF;
$likeBlack: #191414;
$blue: #1E3264;

$proximaNovaRegular: 'ProximaNova-Regular';
$proximaNovaBold: 'ProximaNova-Bold';
$proximaNovaLight: 'ProximaNova-Light';
$proximaNovaSemiBold: 'ProximaNova-Semibold';