$white: #FFFFFF;
$likeBlack: #191414;
$blue: #1E3264;
$red: #EB1E32;
$green: #5FF550;

$proximaNovaRegular: 'ProximaNova-Regular';
$proximaNovaBold: 'ProximaNova-Bold';
$proximaNovaLight: 'ProximaNova-Light';
$proximaNovaSemiBold: 'ProximaNova-Semibold';